@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Source+Code+Pro:wght@400;500;600&family=Source+Serif+4:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Source Serif 4', serif;
    transition: 0.3s;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: #000;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}